body{

}
.header  {
  display: flex
;
    justify-content: space-around;
    align-items: center;  
}
#logo{
    width: 100px;
    
}
.header .navbar{
    width: 20rem;
    display: flex
;
    text-align: center;
    justify-content: space-around;
}
.navbar a{
     text-decoration: none;
      color: #767676;
}
.navbar a:hover{
    color: black;
}
#download{
    background-color: #04ddb2;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff

 ;
}
#download:hover{
    color: black;
}
.L-T{
    display: flex;
    justify-content: center;
}

#tour{
    color: #04ddb2;

}
p{
    text-align: center;
}
video{
    width: 40rem;
   
    
   
}
.video-cont{
text-align: center;
}
.train{
    text-align: center;
}
hr{
    color: #eae7e7;
    background-color: #cecdcd;
    width: 50%;
    height: 3px;
}
.footer{
    display: flex;
    justify-content: center ;
    align-items: center;
   gap: 2rem;
   text-align: center;
   flex-wrap: wrap;
}
li{
    margin: 10px;
}

.footer a{
    color: #767676;
    text-decoration: none;
}
.logo-footer{
    color: #767676;
}

